@import "colors";

%align-center {
    display: flex;
    align-items: center;
}
.navbar{
    background: $light;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px)/2);
    z-index: 10;
    position: relative;

    &_logo{
        color: $dark;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 24px;
        @extend %align-center;
    }
    &_menu{
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        &_links{
            color: $dark;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover {
                color:$lime;
                transition: all 0.5s ease;
            }
        }

        #button {
            padding: 12px 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: $lime;
            margin-left: 16px;
            color: $light;

            &:hover {
                color:$orange_red;
                transition: all 0.5s ease;
            }
        }
    }

}
