$grey: #dfe6e9;
$darker-grey: #b2bec3;
$dark-grey: #636e72;   

$black: #000011;

$border-color: $grey;

$main-fonts: "Roboto",
"sant-serif";
$font-color: $black;

@keyframes fading-in{
    0% {opacity: 0;}
    15% {opacity: 0;}
    30%{opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fading-out{
    
    0% {opacity: 1;}
    45% {opacity: 0;}
    80%{opacity: 0;}
    100% {opacity: 1;}
}

@mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;
}

@mixin margin-horizontal($px_val){
    margin-left: $px_val;
    margin-right: $px_val;
}

@mixin margin-vertical($px_val){
    margin-top: $px_val;
    margin-bottom: $px_val;
}

%rounded-corners-border {
    border: 1px solid $border-color;
    @include rounded-corner(15px);
}

%small-scaled-image {
    width: 20%;
    height: auto;

}

%plain-tag {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: $main-fonts;
    color: $font-color;

    background-color: $darker-grey;
}

.main-header{
    text-align: center;
    position: fixed;

    color: $grey;

    top: 0;
    left: 0;
    width: 100vw;
    height: 20%;
    
    background-image: url("../images/pieces/header_backgroud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.art-list{
    margin-top: 25%;
}


.art-piece {
    @extend %rounded-corners-border;
    background-color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include margin-vertical(45px);
    @include margin-horizontal(30px);

    &:hover {
        box-shadow: 0 0 50px #000011;

        .art-details {
            width: 50%;
        }

        .description {
            width: 50%;
        }

        img {
            width: 100%;
            animation: fading-in 1s;
            animation-iteration-count: 1;
        }

    }

    .art-details{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: center;
        
        @include rounded-corner(15px);
    }

    img {
        @extend %small-scaled-image;
        @include rounded-corner(15px);
        animation: fading-out 2s;
    }

    .description{
        width: 60%;
    }
}

* { 
    transition: all 1000ms ease; //with prefixes, of course
 }

 a{
     @extend %plain-tag;
 }