$grey: #dfe6e9;
$darker-grey: #636e72;
$dark-grey: #b2bec3;
$black: #000011;

$border-color: $grey;

$main-fonts: "Roboto",
"sant-serif";

$font-color: $black;

$animation-time: 1s;

@keyframes fading-in {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fading-out {

    0% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;
}

@mixin margin-horizontal($px_val) {
    margin-left: $px_val;
    margin-right: $px_val;
}

@mixin margin-vertical($px_val) {
    margin-top: $px_val;
    margin-bottom: $px_val;
}

%rounded-corners-border {
    border: 1px solid $border-color;
    @include rounded-corner(15px);
}

%small-scaled-image {
    width: 20%;
    height: auto;
}

%plain-tag {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: $main-fonts;
    color: $font-color;

    background-image: url("../images/pieces/header_backgroud.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.main-header {
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    * {
        margin: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    h1{
        margin-left: 1rem;
    }


    h2 {
        text-align: center;
        &:nth-child(2){
            margin-left: auto;
        }

        width: 10vw;

    }

    display: flex;
    flex-direction: row;
    justify-content: space-around;


    background-color: $grey;
    color: $font-color;
    box-shadow: 0 0 5px $black;

    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;


}

.art-list {
    padding-top: 10vh;
    @include margin-horizontal(10vw);

    background-color: $dark-grey;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 10px $black
}


.art-piece {
    @extend %rounded-corners-border;
    background-color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include margin-vertical(45px);
    @include margin-horizontal(30px);

    &:hover {
        box-shadow: 0 0 50px #000011;

        .art-details {
            width: 50%;
        }

        .description {
            width: 50%;
        }

        img {
            width: 100%;
            animation: fading-in $animation-time;
            animation-iteration-count: 1;
        }

    }

    .art-details {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: center;

        @include rounded-corner(15px);
    }

    img {
        @extend %small-scaled-image;
        @include rounded-corner(15px);
        animation: fading-out $animation-time * 2;
    }

    .description {
        width: 60%;
    }
}

* {
    transition: all $animation-time ease; //with prefixes, of course
}

a {
    @extend %plain-tag;
}