@import "navbar";
@import "media-queries";

@mixin mp($margin, $padding){
    margin: $margin;
    padding: $padding;
}
@mixin darker {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background-color: rgba(0,0,0,$i*.1);
    }
  } 
}
* {
    box-sizing: border-box;
    @include mp(0,0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero{
    background-color: $light;

    &_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        height: 90vh;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;

        @include tablet {
            grid-template-columns: 1fr;
            height: 100%;
        }

        &_left{
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding: 5rem 0;
            }
            @include mobile {
                line-height: 1.5;
            }

        }

        &_left h1{
            font-size: 4rem;
            color: $lime;
            
            @include mobile{
                font-size: 1.5rem;
            }
        }
        &_left h2{
            font-size: 4rem;
            color: $dark;
            
            @include mobile{
                font-size: 2rem;
            }
        }
        &_left p{
            font-size: 2rem;
            font-weight: 700;
            margin-top: 1rem;
            color: $dark;
            
            @include mobile{
                font-size: 2rem;
            }
        }
        &_btn{
            font-size: 1rem;
            background-color: $lime;
            padding: 14px 32px;
            border: none;
            border-radius: 4px;
            color: $light;
            margin-top: 2rem;
            cursor: pointer;
            position: relative;
            transition: all 0.5s;
            outline: none;
        }
        &_btn a {
        position: relative;
        z-index: 2;
        color: $light;
        text-decoration: none;
        }

        &_btn:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $orange_red;
            transition: all 0.3s;
            border-radius: 4px;
        }

        &_btn:hover:after {
            width: 100%;
        }

        &_right {
            text-align: center;
        }

        &_img {
            height: 100%;
            width: 100%;
        }
    }
}
ul{
    position: relative;
    width: 1050px;
    @include mp(50px auto 0,10px);
    box-sizing: border-box;

    li{
        @include mp(5px 0,10px 20px);
        border-radius: 4px;
        display: flex;
        background: rgba(0,0,0,.1);
        color: $dark;
        font-size: 2rem;
        @include darker;

        span{
            p{
                @include mp(5px 0,10px 20px);
                font-size: 1rem;
            }
        }
    }
}